<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" lang="ko">
        <link href="/css/default.css" rel="stylesheet">
        <script src="/js/article.js" defer></script>
        <script src="/js/backButton.js" defer></script>
        <title>article</title>
    </head>
    <body>
        <div class="listContainer myStyle" th:object="${article}">
            <div class="card myStyle">
                <p th:text="'제목: '+*{title}"></p>
                <p class="username" th:text="'작성자: '+*{writer}"></p>
            </div>
            <div class="card myStyle">
                <p class="date" th:text="'작성일: '+*{created}"></p> 
                <p class="date" th:text="'/수정일: '+*{modifiedTime}"></p>
            </div>
            <div class="listContainer myStyle">
                <p class="articleText" th:text="*{body}"></p>
            </div>
            <div class="card myStyle">
                <button id="back">뒤로가기</button>
                <button id="delete" th:if="${isOwner}">삭제</button>
                <a th:href="@{/main/article/writting(id=*{articleId})}" th:if="${isOwner}">수정</button>
            </div>
        </div>
    </body>
</html>