<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" lang="ko">
        <link href="/css/default.css" rel="stylesheet">
        <link href="../static/css/default.css" rel="stylesheet">
        <title>articles</title>
    </head>
    <body>
        <div class="articles myStyle">
            <div class="listContainer myStyle">
                <a th:href="@{/main}">메인으로</a>
                <a th:href="@{/main/article/writting}">글쓰기</a>
            </div>
            <div class="listContainer myStyle">
                <div class="listContainer myStyle fit" th:each="article : ${articles}">
                    <a th:href="'/main/article/'+${article.articleId}" th:text="|제목: ${article.title}|"></a>
                    <p th:text="|글쓴이: ${article.writer}|"></p>
                    <div class="card">
                        <p class="date" th:text="|생성: ${article.created}|"></p>
                        <p class="date" th:text="|수정: ${article.modifiedTime}|"></p>
                    </div>
                </div>
            </div>
            <div class="card myStyle">
                <a th:each="page : ${allPages}" th:text="${page}" th:href="@{${page}}"></a>
            </div>
        </div>
    </body>
</html>