<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="ko" action="">
        <link href="/css/default.css" rel="stylesheet">
        <title>회원가입 페이지</title>
    </head>
    <body>
        <form class="container myStyle" method="post" th:action="@{/api/user}">
            <div class="card"><input type="text" name="username"></div>
            <div class="card"><input type="password" name="password"></div>
            <input type="submit" value="회원가입">
        </form>
    </body>
</html>