<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" lang="ko">
        <link href="/css/default.css" rel="stylesheet">
        <script src="/js/writting.js" defer></script> 
        <script src="/js/backButton.js" defer></script>
        <title th:if="${id==null}">글 작성</title>
        <title th:if="${id!=null}">글 수정</title>
    </head>
    <body>
        <input id="articleId" type="hidden" th:value="${id}">
        <div class="myStyle listContainer">
            <input class="myStyle card" type="text" name="title">
            <textarea class="myStyle listContainer" name="body"></textarea>
        </form>
        <div class="card myStyle">
            <button id="submit">제출</button>
            <button id="back">뒤로가기</button>
        </div>
    </body>
</html>